Repository d-zimmerman/challenge-latam-de-2024: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, export-requirements

pylint:
  name: pylint
  entry: poetry run pylint
  language: python
  additional_dependencies:
  - google-cloud-bigquery
  - google-cloud-storage
  args:
  - --max-line-length=88
  - --disable=logging-fstring-interpolation
  - --extension-pkg-whitelist=pydantic

export-requirements:
  name: Export requeriments.txt
  description: Used for regenerating the requirements.txt file if dependencies (without DEV) had changed. With this the requirements.txt will always be up to date. Use this only for local development.
  language: system
  pass_filenames: false
  ...

Add docker dir
  docker/README.md
Due: none

Add Dockerfile.dev
  docker/hub/Dockerfile.dev
Due: none

Add docker-compose.dev file
  docker/docker-compose.dev.yml
Due: none

Update docker/README
  docker/README.md
Due: none

Fix .gitignore
  .gitignore
Due: none

Update docker-compose dev
  docker/docker-compose.dev.yml
Due: none

Add cfg module
  app/cfg.py
Due: pylint

Add logger module
  app/logger.py
Due: pylint

Add LoggerConfig in cfg module
  app/cfg.py
Due: pylint

Add main module
  app/main.py
Due: pylint

Update docker WORKDIR to project
  docker/docker-compose.dev.yml
  docker/hub/Dockerfile.dev
Due: none

Add utils module with profile_function wrapper
  app/utils.py
Due: pylint

Add PYTHONPATH env var in Dockerfile dev
  docker/hub/Dockerfile.dev
Due: none

Add constants module
  app/constants.py
Due: pylint

Update q1_memory
  src/q1_memory.py
Due: pylint

Add memory profile wrapper in utils module
  app/utils.py
Due: pylint

Add memory profiling to q1_memory function
  src/q1_memory.py
Due: pylint

Update memory_profile_logging_wrapper funciton
  app/utils.py
Due: pylint

Update project dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
Due: export-requirements

Update q1_memory function
  src/q1_memory.py
Due: pylint

Fix typo in constants module
  app/constants.py
Due: pylint

Update constants module
  app/constants.py
Due: pylint

Update main module
  app/main.py
Due: pylint

Fix function's comments
  app/utils.py
Due: pylint

Update project dependencies
  poetry.lock
  pyproject.toml
Due: export-requirements

Update Q1 time function
  src/q1_time.py
Due: pylint

Add memory and time profiling to both Q1 functions
  src/q1_memory.py
  src/q1_time.py
Due: pylint

Add extract module
  app/extract.py
Due: pylint

Add JSON read comparison notebook
  notebooks/JSON read comparison.ipynb
Due: none

Add Q1 processing time comparison notebook
  notebooks/Q1 processing time.ipynb
Due: none

Update Q2 memory module and function
  src/q2_memory.py
Due: pylint

Add Q2 memory efficiency notebook
  notebooks/Q2 memory efficiency.ipynb
Due: none

Update Q2 memory function
  src/q2_memory.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: (docs|notebooks/|app/alembic/)
  export-requirements: any of: ^(pyproject.toml|poetry.lock)$
