Repository d-zimmerman/challenge-latam-de-2024: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, export-requirements

Path conditions:
  pylint: any of: \.py$, but not: (docs|notebooks/|app/alembic/)
  export-requirements: any of: ^(pyproject.toml|poetry.lock)$

Update project dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
Due: export-requirements

Update Q2 time module
  src/q2_time.py
Due: pylint

Update main module
  app/main.py
Due: pylint

Update project dependencies
  poetry.lock
  pyproject.toml
Due: export-requirements

Update constants module
  app/constants.py
Due: pylint

Update q2 time function
  src/q2_time.py
Due: pylint

Update q2 time docstrings
  src/q2_time.py
Due: pylint

Update Q2 memory notebook
  notebooks/Q2 memory efficiency.ipynb
Due: none

Update q2 functions
  src/q2_memory.py
  src/q2_time.py
Due: pylint

Update q3_function module
  src/q3_memory.py
Due: pylint

Update q3 memory function
  src/q3_memory.py
Due: pylint

Update q3 time module
  src/q3_time.py
Due: pylint

Update q3 time function
  src/q3_time.py
Due: pylint

Add enums module
  app/enums.py
Due: pylint

Update enums module
  app/enums.py
Due: pylint

Update logger's module name with enums
  app/main.py
  app/utils.py
  src/q1_memory.py
  src/q1_time.py
  src/q2_memory.py
  src/q2_time.py
  src/q3_memory.py
  src/q3_time.py
Due: pylint

Update Q1 functions
  src/q1_memory.py
  src/q1_time.py
Due: pylint

Update main function
  app/main.py
Due: pylint

Remove FILENAME constant from constant module
  app/constants.py
  app/main.py
Due: pylint

Add dockerfile and docker-compose yml for Jupyter Notebook
  docker/docker-compose.jupyter.yml
  docker/hub/Dockerfile.jupyter
Due: none

Update import in app modules
  app/logger.py
  app/main.py
  app/utils.py
Due: pylint

Fix jupyter container volumes and env vars
  docker/docker-compose.jupyter.yml
Due: none

Fix typo in q3_memory docstring
  src/q3_memory.py
Due: pylint

Update project's readme
  README.md
Due: none

Add app README
  app/README.md
Due: none

Update challenge notebook
  src/challenge.ipynb
Due: none
